ul {
    display: flex;
    flex-direction: row;
}
ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    white-space: nowrap
    
}
a{
    text-decoration: none;
}

::webkit-scrollbar{
    display: none;
}
.activate{
    color:red;
}
.first{
    color:green;
}
.enve{
    color: greenyellow;
}