<ul>
  <!-- i = index  得到索引-->
  <li *ngFor = "let item of menus; let i = index; let f = first; let enve = even; trackBy:item ? item.title : null">
    <!-- 1。事件是函数的形式 -->
    <!-- <a 
    href="#" 
    [class.activate] = " i === selectedIndex"
    (click) = handleselect(i)
    >
      {{ item.title }}
    </a> -->
    <a 
    href="#" 
    [class.activate] = " i === selectedIndex"
    [class.first] = "f"
    [class.enve] = "enve"
    (click) = "selectedIndex  = i"
    >
    {{item.title}}
    </a>
  </li>

</ul>
